#eme-toolbox-parts {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    flex: 2;

    #eme-toolbox-parts-content {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        
        flex: 1;

        border: 2px outset var(--shade-600);

        .input-search {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            margin: 0.5rem 0.5rem 0 0.5rem;

            .icon-prefix {
                width: 1.5rem;
                height: 1.5rem;
            }

            .input-search-content {
                display: flex;
                flex-flow: row nowrap;
                align-items: stretch;

                flex: 1;
                margin: 0 0 0 0.25rem;

                background: var(--shade-600);
                border: 1px inset var(--shade-700);

                input {
                    flex: 1;
                    padding: 0.25em 0.5em;
    
                    font-size: 1rem;
                    line-height: 1em;
    
                    color: var(--clr-text-dark);
                    background: transparent;
    
                    &::placeholder {
                        color: var(--clr-text-light);
                    }
                }

                button {
                    padding: 0 0.25rem;
                    text-align: center;

                    cursor: pointer;

                    color: var(--clr-text-light);
                    &:hover { color: var(--clr-text-mid); }
                    &:active { color: var(--clr-text-dark); }
                }
            }
        }
    }

    #eme-toolbox-parts-list {
        flex: 1;
        margin: 0.5rem;
        max-height: 50vh;
        overflow-y: scroll;

        background: var(--shade-600);
        border: 2px inset var(--shade-600);

        .eme-toolbox-part {
            &:not(:last-child) {
                border-bottom: 1px solid var(--shade-700);
            }
        }
    }
}

.part-tag {
    display: block;
    position: relative;

    padding: 0.5rem;
    background: var(--shade-500);

    .part-tag-top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 0.25rem;

        h3 {
            flex: 1;
            font-size: 1.2rem;
            color: var(--clr-text-dark);
        }

        svg, .img-placeholder {
            width: 2rem;
            height: 2rem;
            background-color: var(--shade-300);
        }
    }

    p {
        font-size: 0.8rem;
        color: var(--clr-text-mid);
    }

    .part-tag-bottom {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        i {
            font-size: 0.8rem;
            font-style: italic;
            color: var(--clr-text-light);
        }
    }
}