@import './reset.scss';

:root, html.theme-light {
    --shade-50: hsl(40deg 20% 98%);
    --shade-100: hsl(48deg 18% 95%);
    --shade-200: hsl(50deg 16% 90%);
    --shade-300: hsl(52deg 14% 85%);
    --shade-400: hsl(54deg 12% 78%);
    --shade-500: hsl(54deg 10% 68%);
    --shade-600: hsl(54deg 8% 58%);
    --shade-700: hsl(58deg 6% 48%);
    --shade-800: hsl(60deg 4% 38%);
    --shade-900: hsl(64deg 2% 28%);

    --clr-text-light: var(--shade-700);
    --clr-text-mid: var(--shade-800);
    --clr-text-dark: var(--shade-900);
}

html.theme-dark {
    --shade-50: hsl(130deg 2% 60%);
    --shade-100: hsl(130deg 5% 50%);
    --shade-200: hsl(140deg 6% 40%);
    --shade-300: hsl(155deg 8% 30%);
    --shade-400: hsl(165deg 8% 20%);
    --shade-500: hsl(165deg 9% 16%);
    --shade-600: hsl(170deg 10% 12%);
    --shade-700: hsl(175deg 14% 8%);
    --shade-800: hsl(180deg 16% 6%);
    --shade-900: hsl(185deg 20% 3%);

    --clr-text-light: var(--shade-300);
    --clr-text-mid: var(--shade-200);
    --clr-text-dark: var(--shade-100);
}

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25em;

    background: black;
    background: var(--shade-500);
    color: white;
    color: var(--clr-text-mid);

    &, body {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
}

*:where(h1, h2, h3, h4) {
    font-family: "Audiowide", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--shade-300) var(--shade-500);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--shade-400);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--shade-300);
    border-radius: 0px;
    border: 2px outset var(--shade-400);
}

// Primary application container
#electromatic-app {
    display: flex;
    flex-flow: column nowrap;

    // Full-screen the app
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    #eme-main {
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
    }

    #eme-circuit {
        display: flex;
        flex-flow: column nowrap;
        flex: 3;

        .schematic-display {
            flex: 3 0;
            background: var(--shade-800);
        }

        #eme-circuit-bottom {
            display: flex;
            flex-flow: row nowrap;
            flex: 1;

            max-height: 20vh;

            #eme-circuit-settings {
                flex: 1;
            }
        }
    }
}

.icon {
    aspect-ratio: 1;
    line-height: 1em;
    color: inherit;

    path { color: inherit; fill: currentColor; }
}

.plastic, .plastic-abs {
    &.plastic {
        position: relative;
    }

    background: var(--shade-500);

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: url('/img/plastic-retro.jpg');
        background-repeat: repeat;
        mix-blend-mode: overlay;
        opacity: 0.6;

        pointer-events: none;
    }
}

.separator-horz {
    flex: 1;
    height: 1rem;
    color: var(--shade-600);

    rect {
        fill: currentColor;
    }
}

.img-placeholder {
    display: inline-block;
    background: var(--shade-300);
}

.pos-rel {
    position: relative;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --shade-50: hsl(130deg 2% 60%);
        --shade-100: hsl(130deg 5% 50%);
        --shade-200: hsl(140deg 6% 40%);
        --shade-300: hsl(155deg 8% 30%);
        --shade-400: hsl(165deg 8% 20%);
        --shade-500: hsl(165deg 9% 16%);
        --shade-600: hsl(170deg 10% 12%);
        --shade-700: hsl(175deg 14% 8%);
        --shade-800: hsl(180deg 16% 6%);
        --shade-900: hsl(185deg 20% 3%);

        --clr-text-light: var(--shade-300);
        --clr-text-mid: var(--shade-200);
        --clr-text-dark: var(--shade-100);
    }
}